page-profile {
    .title-row {
        position: relative;
    }

    .project-detail-col {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .project-img {
        border-radius: 50%;
        margin: auto;
        display: block;
    }

}
