$create-color: #518DC7;
$cancel-color: #DDDDDD;
$colors: ( primary : #488aff, secondary : #32db64, danger : #f53d3d, light : #f4f4f4, dark : #222);

page-create-candidate {

    $tag-height: 10px;
    background-color: white;

    .create {
        background-color: map-get($colors, primary);
        height: 50px;
        margin-bottom: -4px;
    }

    .cancel {
        height: 50px;
        background-color: map-get($colors, danger);
        margin-bottom: 0px;
    }

    .candidate-pic {
        justify-content: center;
        height: 100px;
        width: 100px;
        margin-bottom: 30px;
        margin-top: 10px;
    }

    .profile-image {
        justify-content: center;
        height: 140px;
        width: 180px;
        //margin-bottom: -10px;
        //margin-right: 10px;
        margin-left: -30px;
        margin-top: -15px;
    }

    .success {
        vertical-align: middle;
        justify-content: center;
        height: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4em;
        color: map-get($colors, secondary);
        border: 1px solid map-get($colors, secondary);
        width: 350px;
        margin-bottom: 10px;
    }

    .resume {
        vertical-align: middle;
        justify-content: center;
        height: 40px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.4em;
        color: map-get($colors, primary);
        border: 1px solid map-get($colors, primary);
        width: 340px;
        margin-bottom: 10px;
    }

    .candidate-img-container {
        position: relative;
        border: 1px solid gray;
        height: 100px;
        width: 100px;
        overflow: hidden;
        border-radius: 50%;
        padding: 0px;
    }

    .resume-text {
        margin-bottom: 30px;
    }

    .text-area {
        width: 100%;
        height: 100px;
    }

    .add-icon {
        margin-top: 40px;
        justify-content: center;
    }

    .title {
        color: map-get($colors, primary);
    }

    .tag-container {
        margin-right: 2px;
        padding: 2px;
    }

    .tag-content {
        padding-left: 0.7rem;
    }

    .tag {
        height: $tag-height;
        border-radius: $tag-height*2;
    }

    button.tag-btn {
        $button-ios-margin-top: 0;
        $button-ios-margin-end: 0;
        $button-ios-margin-bottom: 0;
        $button-ios-margin-start: 0;
        padding: 0;
    }

    .add-tag-btn {
        $button-ios-margin-top: 0;
        $button-ios-margin-end: 0;
        $button-ios-margin-start: 0;
        $button-ios-margin-bottom: 0;
        padding: 0;
    }

    .button-ios.add-tag-btn {
        height: 1.5em;
    }

    .item-ios [item-left], .item-ios [item-start] {
        margin: 0;
    }

    .item-ios {
        padding-left: 0;
    }

    .item {
        min-height: 3rem;
        min-width: 3rem;
    }

    .item-ios .item-button {
        padding: 0;
        padding-left: 0.5rem;
    }

    .label-md {
        margin: 0;
    }

    .label-ios {
        margin: 0;
    }

    ion-input {
        font-size: 20px;
    }

    ion-row {
        textarea {
            width: 100%;
            padding-left: 0px;
            border-width: 1px;
        }
    }

    .label{
        text-align: left;
    }
}

