<ion-header>

  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="viewMessages()">
          <ion-icon name="add"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>


</ion-header>


<ion-content>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false)" (throwoutright)="voteUp(true)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let c of cards" class="td-card card card-md" swing-card="" style="background-color: #E6E6EA">

            <ion-item class="infoDisplay">
                  <ion-card style="background-color: #FE4A49">
                      <ion-card-header (click)="toggleResume()">
                        <ion-card-title>Resume</ion-card-title>
                      </ion-card-header>
                      <ion-card-content #resume style="max-height: 0px; padding: 0px;">
                          <div>
                            <p>Something goes here</p>
                          </div>
                      </ion-card-content>
                  </ion-card>
            </ion-item>
            <ion-item class="infoDisplay">

                  <ion-card style="background-color: #FED766;">
                      <ion-card-header (click)="toggleSkills()">
                        <ion-card-title>Skills</ion-card-title>
                      </ion-card-header>

                      <ion-card-content #skills style="max-height: 0px; padding: 0px;">
                        <div>
                          <p>Something goes here</p>
                        </div>
                      </ion-card-content>
                  </ion-card>

            </ion-item>
            <ion-item class="infoDisplay">
                  <ion-card style="background-color: #2AB7CA">
                      <ion-card-header (click)="toggleWebsite()">
                        <ion-card-title>Website</ion-card-title>
                      </ion-card-header>

                      <ion-card-content #website style="max-height: 0px; padding: 0px;">
                        <div>
                          <p>Something goes here</p>
                        </div>
                      </ion-card-content>
                    </ion-card>
            </ion-item>
            <ion-item *ngIf="c.name" class="infoDisplay">
              <ion-col>
                <button ion-button clear small icon-left color="primary" (click)="voteUp(true)">
                  <ion-icon name="thumbs-up"></ion-icon>
                  Yes
                </button>
              </ion-col>
              <ion-col>
                <button ion-button clear small icon-left color="primary" (click)="voteUp(false)">
                  <ion-icon name="thumbs-down"></ion-icon>
                  No
                </button>
              </ion-col>
            </ion-item>

    </ion-card>
  </div>

  <p style="text-align: center; width: 100%;">{{ recentCard }}</p>
</ion-content>
