<ion-header>

  <ion-navbar>
    <ion-title>Account Settings</ion-title>
    <ion-buttons left>
        <button ion-button icon-only (click)="returnHome()">
          <ion-icon name="arrow-back"></ion-icon>
          <ion-label>Back</ion-label>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <form [formGroup]="form" *ngIf="settingsReady">
    <ion-list no-lines *ngIf="page == 'main'">
      <ion-item>
        <button ion-item (click) = "changeEmail()">
          Change Email
        </button>

        <button ion-item (click) = "changePass()">
          Change Password
        </button>
      </ion-item>
    </ion-list>
  </form>

</ion-content>