// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$text-color : #000;
$background-color : #fff;
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary : #488aff, secondary : #32db64, danger : #f53d3d, light : #f4f4f4, dark : #222, white: #ffffff);


/* These are the 5 main color in the color Scheme that we voted */ 

$celestial_blue: rgba(81, 141, 199, 1);
$lavender: rgba(184, 184, 209, 1);
$pastel_orange: rgba(255, 193, 69, 1);
$baby_powder: rgba(255, 255, 251, 1);
$pastel_red: rgba(255, 107, 108, 1);

/*COLORS Divided by Tab 

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  twitter:    #55acee,
  baby_powder: #fffffb,
  project: #ffc145,
  candidate: #ff6b6c,
  nop: #D3D3D3
);
/*
1) Hamburger
2) Profile Tab
3) Home/Swipe
4) Matches/Messages
*/

/* 1) ----- Hamburger ----- */ 

/*for unselected name font color = black
for the rest use light fonts color and edit button
use $baby_powder,*/

$ham_bg: #AAABDC; //background of hamburger
$project_button: #FF8F90; //button of project when seleted
$candy_button: #FFD88B; //button of candy when selected
$unselect_icon: #FFFFFB; //button of either when unselected
$switch: #7E7EA7; //the color of switch button 

/* 2) ----- Profile Tab ----- */

// Candy
//color for banner on top of profile tab and profile button
$candy_banner: #FFC145;  
//color for background of profile tab
$candy_background: #FFF1D4;

// Project
//color for banner on top of profile tab and profile button
$project_banner: #FF6B6C; 
//color for background of profile tab
$project_background: #FFE8E8;

/* 3) ----- Home/Swipe ----- */

//background of banner for top banner 
$home_main_banner : #9191D7;
//background of banner for bottom banner
$home_2nd_banner : #BCBCFF;
//font color for name of profile on card
$home_fw_skills_font : #6100FF;
//font color of description 
$home_description_font : #757575;
//color for banner of tab icons (at bottom)
$home_bottom_banner : #FDFDFD;

// the gray background for home tab
$home_background : #E7E7E7;
$home_unselected_icon : #8E8E8E;

/* 4) ----- Matches/Messages ----- */

//color for banner at top of matches and messages tab
//same as color for matches tab button 
$matches_banner :#518DC7;
//color for background of matches and messages tab
$matches_background : #E5EEF6;


// Check git
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
// @import "roboto";
// @import "noto-sans";

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: normal;
  src: url("../assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: bold;
  src: url("../assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: 'Quicksand';
  font-style: italic;
  font-weight: normal;
  src: url("../assets/fonts/Quicksand-Light.ttf");
}

* {
    font-family: 'Quicksand', sans-serif;
}

