<!--
  Generated template for the CreateProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
  <ion-header>
    <ion-navbar>
      <ion-title>Create Project Profile</ion-title>
    </ion-navbar>
  </ion-header>

    <ion-content center text-center>
      <div class="bar bar-header bar-light">
        <h1 class="title">Project Profile</h1>
      </div>
      <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
      <div class="profile-image-wrapper" (click)="getPicture()">
        <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">

          <ion-grid class="resume">
            <ion-row>
              <ion-col>
                <ion-icon name="add"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>


        <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
      </div>
      <ion-list>
        <ion-item>
          <ion-input type="text" placeholder="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Tags"></ion-input>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-footer>
      <button ion-button type="submit" size="large" full class="create">Create</button>
      <button ion-button type="button" size="large" full class="cancel" (click) ="return()">Cancel</button>
    </ion-footer>

