<ion-menu [content]="content">
  <ion-header no-border>
    <ion-toolbar color="ham_bg">
      <button ion-button float-right small clear (click) = "toggleEditSettings()" class="editButton">
        {{editButton}}
      </button>
    </ion-toolbar>
  </ion-header>


  <ion-content id="menu-color" style="background-color: #AAABDC">
    <ion-list no-lines inset style="background-color: #AAABDC">

      <div class = "centerParent" style="background-color: #AAABDC">
      <button *ngIf="projectCreated" ion-item detail-none text-center color = "{{this.projectColor}}" (click) = "clickedProfile(this.PROJECT)" >
        <ion-icon *ngIf="editMode" float-left name="close"></ion-icon>
        {{project.name}}
      </button>

      <button *ngIf="!projectCreated" ion-item detail-none text-center color = "nop" (click) = "projectCreate(this.PROJECT)" style="color: #FFFFFF">
        Create Project
      </button>

      <button *ngIf="candidateCreated" ion-item detail-none text-center color = "{{this.candidateColor}}" (click) = "clickedProfile(this.CANDIDATE)" class="candidateButton">
        <ion-icon *ngIf="editMode" float-left name="close"></ion-icon>
        {{candidate.name}}
      </button>

      <button *ngIf="!candidateCreated" ion-item detail-none text-center color = "nop" (click) = "candidateCreate(this.CANDIDATE)" style="color: #FFFFFF" class="candidateButton">
        Create Candidate
      </button>

      <ion-item *ngIf="editMode && projectCreated" style="background-color: #AAABDC" class="font-family">
        <ion-label>Project Invisible</ion-label>
        <ion-toggle id="projectTogg" [(ngModel)]="this.projectInvis" [color]="this.SWITCH" [(ngModel)]="projToggled" (ionChange)="notify(this.projectInvis)"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="editMode && candidateCreated" class="font-family">
        <ion-label>Candidate Invisible</ion-label>
        <ion-toggle id="candidateTogg" [(ngModel)]="this.candidateInvis" [color]="this.SWITCH" [(ngModel)]="candToggled" (ionChange)="notify(this.candidateInvis)"></ion-toggle>
      </ion-item>
      
      <!--<div *ngIf="(tempVar | async)?.is_visible">hello 1{{ (tempVar | async)?.is_visible }}</div>
      <div *ngIf="!(tempVar | async)?.is_visible">hello 2{{ (tempVar | async)?.is_visible }}</div>-->

      <button *ngIf="!editMode" ion-item detail-none (click) = "changePage(pages[2])" style="background-color: #AAABDC" class="font-family">
        {{pages[2].title}}
      </button>

      <button *ngIf="!editMode" ion-item detail-none (click) = "changePage(pages[3])" style="background-color: #AAABDC" class="font-family">
        {{pages[3].title}}
      </button>
      </div>

    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav #content [root]="rootPage"></ion-nav>