<ion-header>
	<ion-navbar>
		<ion-title>Chat</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
		<!---<ul>
			<li *ngFor="let message of messages | async">
				{{ message.message }}
			</li>
		</ul>-->

		<!---<ion-content padding>
			<ion-card *ngFor="let message of messages | async">
				  <ion-card-header>
					{{ message.message }}
				  </ion-card-header>
				  <ion-card-content>
					Artist Name: {{ message.message }}
				  </ion-card-content>
				</ion-card>
		</ion-content>-->
	
	<div *ngFor="let message of messages | async" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
		<div *ngIf="user._id !== message.userId">
			<img (click)="viewProfile(message)" class="profile-pic left" [src]="toUser.pic" onerror="onProfilePicError(this)" />
			<div class="chat-bubble left slide-left">

				<div class="message" autolinker>
					{{message.message}}
				</div>

				<div class="message-detail">
					<!--<span (click)="viewProfile(message)" class="bold">{{toUser.username}}</span>,-->
				</div>

			</div>
		</div>

		<div *ngIf="user._id === message.userId">

			<img (click)="viewProfile(message)" class="profile-pic right" [src]="user.pic" onerror="onProfilePicError(this)" />

			<div class="chat-bubble right slide-right">

				<div class="message" autolinker>
					{{message.message}}
				</div>

				<div class="message-detail">
					<span (click)="viewProfile(message)" class="bold">{{user.username}}</span>,
				</div>

			</div>

		</div>
	
		<div class="cf"></div>

	</div>
</ion-content>
<ion-footer>
	<form [formGroup]="messageForm" (submit)="send(chatBox)" novalidate>
		<ion-item>
			<ion-input formControlName="message" [(ngModel)]="chatBox" placeholder="Send {{toUser.username}} a message..."></ion-input>
			<button ion-button clear (click)="send(chatBox)" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
		</ion-item>
	</form>
</ion-footer> 
