page-profile-project {
    $tag-height:20px;

    .title-row {
        position: relative;
    }

    .project-detail-col {
        position: absolute;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .project-img {
        border-radius: 50%;
        margin: auto;
        display: block;
    }

    button.tag-btn {
        $button-ios-margin-top: 0;
        $button-ios-margin-end: 0;
        $button-ios-margin-bottom: 0;
        $button-ios-margin-start: 0;
        padding: 0;
    }

    .item-ios [item-left], .item-ios [item-start] {
        margin: 0;
    }

    .tag{
        height: $tag-height;
        border-radius: $tag-height*2;
    }

    .item {
        min-height: 3rem;
        min-width: 3rem;
    }

    .item-ios .item-button {
        padding: 0;
        padding-left: 0.5rem;
    }

    .label-md {
        margin: 0;
    }

    .label-ios {
        margin: 0;
    }

    .tag-container {
        margin-right: 2px;
        padding: 2px;
    }

    .tag-content {
        padding-left: 0.7rem;
    }
 
    .top-icon {
        font-size: 30px;
    }

    ion-row{
        ion-textarea{
           border: solid 1px lightgrey;
        }
    }

    .text-input-ios{
        margin: 11px 8px 11px 8px;
    }

    .info-row {
        position: relative;
    }

    .info-label {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

}
